

.card_infos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    border: solid 1px black;
    border-radius: 3px;


    background-color: rgba(219, 217, 217, 0.248);

    box-shadow: 1px 1px 1px 1px black;

    padding: 40px;
}