.sobre_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #ffa6006a;
}

.sobre_container div {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sobre_container h2 {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 32px;
}

.container_one {
	margin: 10px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;

	background-color: #ffa6006a;
}

.container_two {
	margin: 10px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;

	background-color: rgba(149, 98, 4, 0.416);
}

.container_three {
	margin: 10px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;

	background-color: rgba(255, 166, 0, 0.416);
}

.limit {
	display: flex;
	align-items: center;
	justify-content: space-between;
    gap: 120px;

	margin: 10px;

	width: 70%;
	height: 500px;

	padding: 50px;
}

.limit p {
	width: 90%;
	

	font-size: 1rem;
	/* word-wrap: break-word; */
}
